<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <%# show one recipe here %>
  <h1 class = "recipe-name"><%= @recipe.name %></h1>

  <section class = "recipe-image">
    <img src=<%=@recipe.image %> alt="<%= @recipe.name %>">
  </section>
  <div class="recipe-link">
    <a href="<%= @recipe.url %>">Full Recipe </a>
  </div>

  <section class = "ingredients small-up-1 medium-up-2 large-up-2">
    <h3>Ingredients</h3>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient %></li>
      <% end %>
    </ul>
  </section>

  <section class = "nutrients small-up-1 medium-up-2 large-up-2">
    <h3>Nutrition Information</h3>
    <ul class="list-lower-alpha">
      <% @recipe.nutrient_info.each do |info| %>
      <li><%= info[1]['label']%>: <%= info[1]['quantity'].round(2)%></li>
      <% end %>
    </ul>
  </section>

  <section class = "health-labels">
    <h3>Health Labels</h3>
    <ul>
      <% @recipe.health_labels.each do |health_label| %>
      <li><%= health_label %></li>
      <% end %>
    </ul>
  </section>

</body>
</html>
