
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Yum Yum" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Yum Yum" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="top-words">
    <h1 class = "big-title"><em><%= link_to 'Yum Yum', root_path %></em></h1>
      </div>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer>
      <div class="wrap-row small-up-1">
        <div class="edamam">
        <p class="edamam">Powered by Edamam</p>
          </div>
      </div>
    </footer>
  </body>
</html>
